/*@author Daniel Giove*/

html{
  min-width: 60em;
  padding: 1em;
  background-color: rgb(75, 120, 120);
}

body{
  padding: 0.5em;
  border-radius: 0.5em;
  border: 1px solid red;
}

header{
  background-color: indigo;
  display: flex;
  align-items: center;
  padding-left: 10px;
  justify-content: space-between;
  color: white;
}

footer{
  background-color: indigo;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}

#leftColumn{
  background-color: white;
  background-color: rgb(238, 238, 121);
  border: 0px;
  margin-left: 1em;
  margin-right: 1em;
}

#fieldsetCenter{
  background-color: lightgray;
  width: 59%;
}

legend{
  border: 1px solid black;
  background-color: white;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}

#columnDiv{
  display:flex;
  flex-direction: row;
  justify-content:center;
  background-color: rgb(64, 252, 64);
  border-radius: 0.5em;
  padding-bottom: 1em;
}

#searchBar{
  width: 60%;
  height: 30px;
  justify-content: right;
  margin-right: 5%;
  border-radius: 0.5em;
}

.column{
  border: red 1px solid;
  width:30%;
  padding: 11px;
}

#admin{
  border: 1.5px solid white;
  color: white;
}

#adminDiv{
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content:center;
  text-align: center;
  padding:8px;
  padding-bottom: 1.5em;
}

.b1{
  border: 2px solid black;
  border-radius: 0.5em;
  background-color: rgb(50, 95, 50);
  color: white;
}

#centerDiv{
  background-color: lightgray;
}

#topSettings{
  background-color: white;
  border: 1px solid red;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 1em;
}

.dropdowns{
  margin-left: 6px;
  width: 70%;
  max-width: 70%;
  padding: 10px;

}

#listPosts{
  border:black 1px solid;
  background-color: darkcyan;
  padding: 0.5em;
  overflow-y: scroll;
  height: 450px;
}

.postTop{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.postBottom{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1.5px dotted black;
  margin: 4px;
}

.postTitle{
  width:65%;
  border: 1.5px dotted black;
  margin: 4px;
}

.postBackground{
  background-color: lightgray;
  padding: 5px;
  margin: 5px;
}

.post{
  background-color: white;
  padding: 5px;
  border: 1px solid black;
}

.tableBackground{
  background-color: rgb(87, 25, 25);
  overflow-y: scroll;
  height: 250px;
  padding: 8px;
}

table{
  text-align: center;
  width: 100%;
}

.th1{
  background-color: indigo;
  color:white;
} 

.td1{
  border: 1px solid white;
  background-color: rgb(87, 25, 25);
  color: white;
} 

.td2{
  border: 1px solid black;
}
tr:nth-child(even){
  background-color: rgb(214, 223, 140);
}

tr:nth-child(odd){
  background-color: rgb(104, 103, 103);
}

img {
  max-width: 20px;
  max-height: 20px;

}